<%- if controller_name != 'sessions' %>
  <p>Already register? <%= link_to "Log in", new_session_path(resource_name) %></p>
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <p>Need an account? <%= link_to "Sign up", new_registration_path(resource_name) %></p>
<% end %>
